<?xml version='1.0' encoding='utf-8'?>
<plugin id="@elastosfoundation/elastos-cordova-plugin-hive" version="1.0.16" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Hive</name>
    <js-module name="HivePlugin" src="www/hive.js">
        <clobbers target="hiveManager" />
    </js-module>

    <!-- <hook type="after_plugin_add" src="hooks/after_plugin_add.js" /> -->
    <platform name="browser">
        <config-file target="config.xml" parent="/*">
            <feature name="Hive">
                <param name="browser-package" value="Hive" />
            </feature>
        </config-file>

        <js-module src="src/browser/HiveProxy.js" name="HiveProxy">
            <runs />
        </js-module>
    </platform>
	<platform name="android">
		<config-file target="config.xml" parent="/*">
			<feature name="HivePlugin">
				<param name="android-package" value="org.elastos.plugins.hive.HivePlugin" />
			</feature>
		</config-file>
        <source-file src="src/android/HivePlugin.java" target-dir="src/org/elastos/plugins/hive" />
        <source-file src="src/android/HivePluginHelper.java" target-dir="src/org/elastos/plugins/hive" />
        <source-file src="src/android/database/Database.java" target-dir="src/org/elastos/plugins/hive/database" />
        <source-file src="src/android/database/DeleteResult.java" target-dir="src/org/elastos/plugins/hive/database" />
        <source-file src="src/android/database/InsertResult.java" target-dir="src/org/elastos/plugins/hive/database" />
        <source-file src="src/android/database/UpdateResult.java" target-dir="src/org/elastos/plugins/hive/database" />
        <source-file src="src/android/files/FileInfo.java" target-dir="src/org/elastos/plugins/hive/files" />
        <source-file src="src/android/files/FileType.java" target-dir="src/org/elastos/plugins/hive/files" />

        <!-- <resource-file src="src/android/libs/ElastosHiveSDK-0.1.0.jar" target="libs/ElastosHiveSDK-0.1.0.jar"/> -->
        <framework src="src/android/hive.gradle" custom="true" type="gradleReference"/>
	</platform>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="HivePlugin">
                <param name="ios-package" value="HivePlugin" />
            </feature>
        </config-file>

        <podspec>
            <config>
                <source url="https://cdn.cocoapods.org/"/>
            </config>
            <pods use-frameworks="true">
                <pod name="ElastosHiveSDK" spec='~> 2.1.6-pre'/>
                <!-- <pod name="Alamofire" spec='~> 5.4'/>
                <pod name="PromiseKit" spec='~> 6.13.1'/> -->
            </pods>
        </podspec>

        <!-- <dependency id="cordova-plugin-add-swift-support" version="1.7.2"/> -->
        <resource-file src="ipfsnodes.json" />
        <source-file src="src/ios/HivePlugin.swift" />
        <source-file src="src/ios/HivePluginHelper.swift" />
        <source-file src="src/ios/database/Database.swift" />
        <source-file src="src/ios/database/DeleteResult.swift" />
        <source-file src="src/ios/database/InsertResult.swift" />
        <source-file src="src/ios/database/UpdateResult.swift" />
        <source-file src="src/ios/files/FileInfo.swift" />
        <source-file src="src/ios/files/FileType.swift" />
    </platform>
	<platform name="electron">
        <js-module src="src/electron/HivePluginProxy.js" name="HivePluginProxy">
            <runs />
        </js-module>
    </platform>

    <hook src="hooks/before_plugin_install/build_ts.js" type="before_plugin_install" />
</plugin>

